/* --------- GENERAL --------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #e5e7eb;
}
/* .font-anton{
    font-family: 'Anton', sans-serif;
} */
button{
    cursor: pointer;
}

/* ---------- HEADER ---------- */
/* => height */
.header, .header__banner, .header__container{
    height: 46.6875rem;
}
.header__banner{
    width: 100%;
    object-fit: cover;
    object-position: center 85.5%;
}
.header__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}
.header__container__logo__image{
    padding: 4rem 0 2rem 4.5rem;
}
.header__container__logo__image--sign{
    padding: 4rem 0 2rem 0.25rem;
}
.header__container__search__title{
    width: 55.625rem;
    height: 8.25rem;
    margin: 8.7rem auto 2rem auto;
    color:rgba(255, 209, 92, 1);
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 2.75rem;
    font-weight: 400;
    text-align: center;
}

/* search box */
.header__container__search__box{
    display: flex;
    width: 59.625rem;
    height: 4.5rem;
    margin: 0 auto;
    flex-direction: row-reverse;
    position: relative;
}
.header__container__search__box__input{
    width: 954px;
    height: 4.5rem;
    font-size: 1rem;
    align-items: center;
    margin: 0 auto;
    padding-left: 2rem;
    border-radius: 0.6875rem;
    color:rgba(122, 122, 122, 1);
    border: none;
}
.header__container__search__box__button__magnifying-glass{
    position: absolute;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    top: 0.7rem;
    right: 0.7rem;
    background-color: black;
    color:white;
    border: none;
    border-radius: 0.6875rem;
    transition: 600ms;
    
}
.header__container__search__box__button__magnifying-glass:hover{
    background-color:rgba(255, 209, 91, 1);
    color: black;
    transition:600ms;
}
.header__container__search__box__button__close{
    position: absolute;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    top: 0.7rem;
    right: 4rem;
    border: none;
    border-radius: 0.3rem;
    color:rgba(122, 122, 122, 1);
    background-color:transparent;
}

/* dropbox */
/* => align-items: center */
.main__filter__dropbox, .dropdown__button, .main__filter__recipes__result{
    align-items: center;
} 
/* => width, margin-left, margin-right */
.main__filter, .tag__selected, .recipes__box{
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
}
.main__filter{
    height: 64px;
    display: flex;
    position: relative;
    z-index: 1;
    padding-top: 2rem;
}
.main__filter__dropbox{
    width: 80rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:start;
    position: absolute;
    top:10px;
    gap: 2rem;
    /* background-color: cadetblue; */
}
/* => font-size */
.dropdown__button__title, .dropdown__button__icon{
    font-size: 1rem;
}
.dropdown{
    width: 163px;
    display: flex;
    flex-flow: column;
    height : fit-content;
    padding: 1rem;
    border-radius: 0.6875rem;
    border: none;
    background-color: white;
}
.dropdown__button{
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: white;
}
.dropdown__button__title{
    font-weight: 500;
    color: black;
}
.dropdown__content{
    height: 0;
    transition: 300ms;
    overflow: hidden;
}
.dropdown__content--active{
    height: 255px;
    transition: 300ms;
}
.dropdown__content__input{
    width: 100%;
    height: 36px;
    margin-top: 16px;
    position: relative;
}
.dropdown__content__box__input{
    position: relative;
}
.dropdown__content__input__close{
    position: absolute;
    top: 50%;
    right: 20%; 
    color:rgba(122, 122, 122, 1);   
}
.dropdown__content__input__glass{
    position: absolute;
    top: 50%;
    right: 5%;
    color:rgba(122, 122, 122, 0.5); 
}
/* recipes result */
.main__filter__recipes__result{
    height: 4rem;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 10px;
    /* background-color: burlywood; */
}
.main__filter__recipes__result__text{
    width: 115px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    font-size: 1.3125rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.2rem;
}

/* tag */
.tag__selected{
    height: 4.6875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* display: none; */
    background-color: blueviolet;
}

/*recipes box */
.recipes__box{
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: aquamarine; */
}

/* card */
.card{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 781px;
    border-radius: 21px;
    margin: 1rem 0;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.card__figure{
    width: 100%;
    height: 253px;
    position: relative;
}
.card__figure__image{
    width:100%;
    height: 253px;
    border-radius: 21px 21px 0 0;
    object-fit: cover;
}
.card__figure__timing{
    width: 63px;
    height: 26px;
    border-radius: 14px;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 22px;
    right: 22px;
    background-color: #ffd15c;
}

/* card content */
.card__content{
    width: 100%;
    height: 100%;
    padding: 24px 32px;
    border-radius: 0 0 21px 21px;
    /* background-color: bisque; */
}
.card__content__title{
    font-family: "Anton",sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.card__content__subtitle{
    text-transform: uppercase;
    width: 60px;
    height: 16px;
    font-size: 12px;
    font-weight: 700;
    margin-top: 1.8rem;
    color: rgba(122, 122, 122, 1);
}
.card__content__description{
    font-size: 14px;
    font-weight: 400;
    height: 5.1rem;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgba(27, 27, 27, 1)
}
.card__content__list{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.card__content__list__item{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1.3rem;
}
.card__content__list__item--ingredients{
    font-weight: 600;
    font-size: 14px;
    /* color:rgba(27, 27, 27, 1); */
    color: black;
}
.card__content__list__item--quantity{
    font-weight: 400;
    font-size: 14px;
    color: rgba(122, 122, 122, 1);
}